// Primary

$color-1: hsl(0, 78%, 62%);
$color-2: hsl(180, 62%, 55%);
$color-3: hsl(34, 97%, 64%);
$color-4: hsl(212, 86%, 64%);

// Neutral

$text-dark: hsl(234, 12%, 34%);
$text-light: hsl(229, 6%, 66%);
$bg: hsl(0, 0%, 98%);
$card-bg: hsl(0, 0%, 100%);

// Units
$padding: 3rem;
$baseFontSize: 1rem;
$headerWidth: 35rem;
